int C<InterfaceName>MsgHandler::HandleMsg<MethodName>(const CSmartStruct& Packet)
{
	<ParamDefines>
	
	<ParamInitOperations>

	<IfHaveMember>
	void * Pos=Packet.GetFirstMemberPosition();
	while(Pos)
	{
		WORD MemberID;
		CSmartValue Value=Packet.GetNextMember(Pos,MemberID);
		switch(MemberID)
		{
		<UnpackOperations>
		}
	}
	</IfHaveMember>	

	return <MethodName>(<Params>);
}