<?xml version="1.0" encoding="gb2312" ?>
<Main ServerID="6-0-0-1">
  <PoolConfig>
    <FileTaskPoolConfig StartSize="32" GrowSize="32" GrowLimit="32"/>
    <FileDataBlockPoolConfig StartSize="256" GrowSize="256" GrowLimit="32"/>
    <SerialOperationPoolConfig StartSize="32" GrowSize="32" GrowLimit="32"/>
    <ParallelOperationPoolConfig StartSize="256" />
    <FinishOperationPoolConfig StartSize="32" GrowSize="32" GrowLimit="32"/>
  </PoolConfig>
  <ClientListen IP="0" Port="8300" MaxClient="500" RecvBufferSize="655360" SendBufferSize="655360" />
  <ProcessMonitor ProcessInfoFetchTime="5000" MaxProcessCount="256" />
  <UserList>
    <User Name="Test" Password="123"/>
  </UserList>
  
  <TaskManagerConfig SerialWorkThreadCount="4" ParallelWorkThreadCount="8" MaxUploadAcceptCount="16" MaxDownloadAcceptCount="16" TaskTimeOut="3600"/>
  
  <Notify GetTokenURL="https://qyapi.weixin.qq.com/cgi-bin/gettoken?corpid=ww625ae75cfc837b78&corpsecret=NgJPBgCSDy2PzD0sHjle9XaqjWdJGbQXaVaLM7zYcP4" 
          SendNotifyURL="https://qyapi.weixin.qq.com/cgi-bin/message/send" 
          SendTarget="qy01cb78cb350ec0289bcbbc6fb8|qy014c78ac3522c0289b1e4c15e7" />

  <System>
    <UDPControlAddress IP="0" Port="9600" />
  </System>
  <EasyLink ServerID="6-0-0-1">
    <Connections>
      <Connection IP="0" Port="9550" />
    </Connections>
  </EasyLink>
  <SystemLink ServerID="6-0-0-1">
    <Services ReallocConnectionID="true">
      <Service ID="6-0-0-1" IP="0" Port="9200" />
	</Services>
  </SystemLink>
  
</Main>
