bool ToJson(rapidjson::Value& StructNode, rapidjson::Document::AllocatorType& Alloc, const DATA_OBJECT_MODIFY_FLAGS& MemberFlags);
	bool FromJson(rapidjson::Value& StructNode, const DATA_OBJECT_MODIFY_FLAGS& MemberFlags);