int C<InterfaceName>MsgCaller::<MethodName>(<Params>)
{
	if(m_pNet==NULL)
	{
		return COMMON_RESULT_FAILED;
	}

	UINT MsgDataSize=CSmartStruct::GetEmptyStructSize()
		<PacketSizes>;

	WORD MsgFlag=0;
	<IfMsgCanCache>MsgFlag|=DOS_MESSAGE_FLAG_CAN_CACHE;</IfMsgCanCache>
		
	CMessage * pMsg=m_pNet->NewMessage(MsgDataSize);
	if(pMsg==NULL)
	{
		return COMMON_RESULT_MSG_ALLOC_ERROR;
	}

	pMsg->SetMsgID(MAKE_MSG_ID(<ModuleID>,<InterfaceID>,I<@InterfaceName>::<MethodID>,<IsAckMsg>));
	pMsg->SetDataLength(MsgDataSize);
	pMsg->SetMsgFlag(MsgFlag);

	UINT FailCount=0;
	
	CSmartStruct Packet=pMsg->GetEmptyDataPacket();
	
	if(PackMsg<MethodName>(Packet<,Params>))
	{			
		if(m_pNet->SendMessage(pMsg))
		{
			m_pNet->ReleaseMessage(pMsg);
			return COMMON_RESULT_SUCCEED;
		}
		else
		{
			m_pNet->ReleaseMessage(pMsg);
			return COMMON_RESULT_MSG_SEND_ERROR;
		}
	}
	else
	{
		m_pNet->ReleaseMessage(pMsg);
		return COMMON_RESULT_MSG_PACK_ERROR;
	}
	
}
