

/*************************************************
函数名:	<MethodName>
用途:	<MethodDescription>
参数:
	<ParamDescriptions>
返回值:无特别意义
*************************************************/
virtual int <MethodName>(<Params>)<IsPure>
	