#include "stdafx.h"


C<InterfaceName>MsgCaller::C<InterfaceName>MsgCaller(INetProcessor * pNet)
{
	m_pNet=pNet;
}

C<InterfaceName>MsgCaller::~C<InterfaceName>MsgCaller(void)
{
}


<Methods>
<PackMethods>
