#include "stdafx.h"

C<InterfaceName>MsgHandler::C<InterfaceName>MsgHandler(void)
{
}

C<InterfaceName>MsgHandler::~C<InterfaceName>MsgHandler(void)
{
}

void C<InterfaceName>MsgHandler::InitMsgMap(CEasyMap<MSG_ID_TYPE,MSG_HANDLE_INFO>& MsgMap)
{
	MSG_HANDLE_INFO MsgHandleInfo;
	<MsgMapInits>
}

<Methods>