MsgHandleInfo.pObject=this;
MsgHandleInfo.pFN=(MSG_HANDLE_FN)&C<InterfaceName>MsgHandler::HandleMsg<MethodName>;
MsgMap.Insert(MAKE_MSG_ID(<ModuleID>,<InterfaceID>,I<@InterfaceName>::<MethodID>,<IsAckMsg>),MsgHandleInfo);